<!DOCTYPE html>
<html lang="ru">

  <head>
      {% load static %}
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Blog Home - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
  </head>

  <body>

  {% include '_navigation.html' %}

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Page Heading
            <small>Secondary Text</small>
          </h1>

          <!-- Blog Post -->
          {% for item in article_list %}
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{item.title}}</h2>
              <p class="card-text">{{item.text|truncatechars:50}}</p>
              <a href="{{item.get_absolute_url}}" class="btn btn-primary">Читать далее</a>
            </div>
            <div class="card-footer text-muted">
              Опубликовано {{item.current_date}}
            </div>
          </div>
{% endfor %}


          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>

        </div>
        </div>
</div>
{% include '_footer.html' %}
  </body>

</html>
