<!DOCTYPE html>
<html lang="ru">

  <head>
      {% load static %}
      {% load i18n %}
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% trans 'Blog Home - Start Bootstrap Template' %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
  </head>

  <body>

  {% include '_navigation.html' %}
   <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg-img/breadcumb1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Статьи</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <section class="about-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>{% trans 'В этом разделе мы постарались собрать самые <br>интересные статьи о кулинарии и не только' %} </h3>
                    </div>
                </div>
            </div>
        </div>
      </section>
    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <!-- Blog Post -->
          {% for item in article_list %}
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/900x300" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title"><a href="{{item.get_absolute_url}}">{{item.title}}</a></h2>
              <p class="card-text">{{item.text|truncatechars:50}}</p>
              <a href="{{item.get_absolute_url}}" class="btn btn-primary">{% trans 'Читать далее' %}</a>
            </div>
            <div class="card-footer text-muted">
              {% trans 'Опубликовано' %} {{item.current_date}}
            </div>
          </div>
{% endfor %}


          <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
            {% if is_paginated %}
                <li class="page-item">
              {% if page_obj.has_next %}
                  <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">&larr; {% trans 'Назад' %}</a>
              {% endif %}
                <li class="page-item">
                {% if page_obj.has_previous %}
                    <a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{% trans 'Вперед' %}&rarr;</a>
            {% endif %}
                </li>
                <!--<span class="page-current">-->
                  <!--Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
              <!--</span>-->

              {% endif %}
                </li>
            </ul>
        </div>
        </div>
</div>
{% include '_footer.html' %}
  </body>

</html>
