<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %}
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>{{recept.title}} {% trans 'рецепт с фото и описанием, готовим быстро и вкусно | Perfect Cooking' %}</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">
    <!-- Core Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include '_navigation.html' %}
 <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        {% for item in recept.ph %}
                        {% if item %}
                        <img src="{{item.url }}" alt="{{item}}">
                        {% endif %}
                        {%endfor%}
                    </div>
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>{{recept.current_date|date:"d E Y"}}</span>
                            <h2>{{recept.title}}</h2>
                            <div class="receipe-duration">
                                <h6>{% trans 'Подготовка продуктов'%}: {{recept.slpit_cook_time.0}} {% trans 'минут'%}</h6>

                                <h6>{% trans 'Приготовление блюда:'%} {{recept.slpit_cook_time.1}} {% trans 'минут' %}</h6>
                                <h6>{% trans 'Выход'%}: {{recept.slpit_cook_time.2}} {% trans 'порций' %}</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <div class="ratings">
                                {% for i in '12345' %}
                                    {% if forloop.counter <= recept.stars %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    {% endif%}
                                {% endfor %}
                            </div>

                            <a href="#" class="btn delicious-btn">{% if recept.stars <= 3 %} {% trans 'Для начинающих'%}{% else %}{% trans 'Непростой рецепт'%}{% endif %}</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        {% for step in recept.slpit_text %}
                            <div class="single-preparation-step d-flex">
                                {% if forloop.counter < 10 and step%}
                                    <h4>0{{forloop.counter}}.</h4>
                                {% elif step %}
                                    <h4>{{forloop.counter}}.</h4>
                                {% endif %}
                                <p>{{step}}</p>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>{% trans 'Ингридиенты' %}</h4>

                            <!-- Custom Checkbox -->
                            {% for step in recept.slpit_ingridients %}
                            {% if step %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck{{forloop.counter}}">
                                <label class="custom-control-label" for="customCheck{{forloop.counter}}">{{step|title}}</label>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="tag">
                    <div class="col-12">
                        {% for tag in recept.split_tags%}
                      <a href="/receiptSearch/?search={{tag}}"><i class="fa fa-tag" aria-hidden="true"></i>{{tag}}</a>
                        {% endfor%}
                    </div>
                </div>

<div class="recipe-ps">
<i class="fa fa-instagram fa-5x" aria-hidden="true"></i><h4>Приготовил по этому рецепту?</h4>
<p>Отметь <a href="https://www.instagram.com/perfect__cooking/" target="_blank">@perfect__cooking</a> в Instagram с тэгом <em>#perfectcooking/</em></p>
</div>
                <div class="row" style="margin-top:40px;">
                    <div class="col-12">
                        <div class="section-heading text-left">
                            <h3>{% trans 'Оставьте комментарий' %}</h3>
                        </div>
                    </div>
                </div>
                <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
            </div>
        </div>
    </div>
</body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 {% include '_footer.html' %}
</html>